/* style sheet for the player's waiting lobby
Pretty bare bonz; not much occurs here

I'd love to try and implement a cool loading animation or circle of death
but we're pressed for time
-EAVI
*/

#title1{
	padding: 10px 15px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color:tomato;
	background-color: darkgrey;
	font-family: Tahoma;
	user-select: none;
}

/* body is using @keyframes to do something cool! */
body{
	text-align: center;
	animation: baColor 10s infinite;
	animation-direction: alternate;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* yoooooo I figured out this cool html trick!

This should make the screen go all rainbow-y like the kahoot lobby
-EAVI

baColor are the colors the background should cycle through
spin is how I learned how to make the colors change
*/
@keyframes baColor {
	0% {
		background-color: darkred;
	}

	20% {
		background-color: mediumorchid;
	}

	40% {
		background-color: royalblue;
	}

	60% {
		background-color: forestgreen;
	}

	80% {
		background-color: goldenrod;
	}

	100% {
		background-color: darkorange;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
