/*can't change all instances of "kanban" to something more appropriate
too much of a hassle to rename and I hate it
-EAVI
*/

/* setting up the background color and defaults for images

if image functionality is something we wanna pursue later in the project,
a handy preset has already been established*/
body{
	background-color: rgb(139,0,0,0.5);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* .kanban dictates how the list is presented, such as in
an accordion style "block" list or a "flex" list where objects fit within a
certain margin (which we set to automatically fit within the user's  display
screen size), and colors*/
.kanban {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background: darkgrey;
	border-radius: 5px;
}

/* this sets the default font for anything inheriting .kanban*/
.kanban * {
	font-family: Tahoma;
}

/* determines the space style between columns in list,
which doesn't act like display:flex at all*/
.kanban__column {
	flex: 1;
}

/* dictates the length of the "+add" buttons*/
.kanban__column:not(:last-child) {
	margin-right: 30px;
}

/* dictates properties for the title of each column;
the most important are alignment, font size, and color*/
.kanban__column-title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-family: Helvetica;
	color: firebrick;
	user-select: none;
}

/* this dictates what the objects users input w/ "+add"
will look like; trying to emulate white textboxes*/
.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

/* this sets the width for the area where a user can "drop" items
from one column to another
NOTE: THIS ISN'T ACTUALLY WHERE USERS DROP IN ITEMS*/
.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

/* this sets the width for the area where, when a user drags over a column
above the "+add" button, an item can actually be "dropped"
NOTE: where users drop items in*/
.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

/* determines how the "+add" button looks*/
.kanban__add-item {
	margin-bottom: 5px;
	width: 100%;
	padding: 10px 0;
	font-family: Tahoma;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__clear-items {
	margin-bottom: 5px;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: whitesmoke;
	background: indianred;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__board {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: rgb(0, 7, 1);
	background: rgb(43, 209, 10);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__init-input {
	padding: 20px 15px;
	box-sizing: border-box;
	background: rgb(11, 38, 190);
	border-radius: 5px;
	cursor: pointer;
}
